# Build
build/

# IDE
.vscode/*
!.vscode/settings.json
.idea/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Compiled
*.exe
*.out
*.obj
*.o

# OS
.DS_Store
Thumbs.db

# Personal notes
claude.md

# Env
*.env